/*============================================================================================*/
/* ERROR AND TRACK ORDER PAGE */
/*============================================================================================*/
#error_page, #track_order {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#error_page p, #track_order p {
  font-size: 21px;
  font-size: 1.3125rem;
}

@media (max-width: 767px) {
  #error_page p, #track_order p {
    font-size: 18px;
    font-size: 1.125rem;
  }
}

.search_bar {
  position: relative;
  margin-bottom: 60px;
}

.search_bar input[type='text'] {
  border: 0;
  height: 50px;
  border-radius: 3px;
  padding-left: 15px;
  -webkit-box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.15);
}

.search_bar input[type='submit'] {
  position: absolute;
  right: -1px;
  color: #fff;
  font-weight: 600;
  top: 0;
  border: 0;
  padding: 0 25px;
  height: 50px;
  cursor: pointer;
  border-radius: 0 3px 3px 0;
  background-color: #94C12C;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.search_bar input[type='submit']:focus {
  outline: none;
}

.search_bar input[type='submit']:hover {
  -webkit-filter: brightness(115%);
  filter: brightness(115%);
}
/*# sourceMappingURL=error_track.css.map */