/*============================================================================================*/
/* LEAVE REVIEW PAGE */
/*============================================================================================*/
.box_general.write_review {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #f4f4f4;
  padding-bottom: 25px;
}

.box_general.write_review h1 {
  font-size: 28px;
  font-size: 1.75rem;
}

.rating {
  display: inline-block;
  position: relative;
}

.rating-input {
  display: none;
}

.rating:hover .rating-star:hover,
.rating:hover .rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
  background-position: 0 0;
}

.rating-star,
.rating:hover .rating-star {
  cursor: pointer;
  float: right;
  display: block;
  margin-right: 3px;
  width: 37px;
  height: 37px;
  background: url(../img/stars.svg) 0 -38px;
}

.fileupload {
  position: relative;
  width: 320px;
}

input[type=file] {
  background-color: #fff;
  border: 1px solid #dddddd;
  padding: 5px;
  height: auto;
  color: #999;
  border-radius: 3px;
}

input[type=file]::-webkit-file-upload-button, input[type=file].invalid::-webkit-file-upload-button, input[type=file].valid::-webkit-file-upload-button {
  color: #fff;
  font-size: 13px;
  border: 0;
  border-radius: 3px;
  padding: 8px 10px 8px 38px;
  background: #94C12C url(../img/camera.svg) 8px center no-repeat;
  outline: none;
}

.latest_review > h4 {
  font-weight: 500;
  font-size: 21px;
  font-size: 1.3125rem;
  margin-bottom: 20px;
}

.latest_review .review_listing {
  -webkit-box-shadow: none;
  box-shadow: none;
}
/*# sourceMappingURL=leave_review.css.map */