.intro-section {
  position: relative;
  margin-top: -87px;

  &,
  .container>.row {
    height: 120vh;
    min-height: 900px;

    @include media-breakpoint-down(md) {
      height: 200vh;
    }
  }

  &.single-cover {

    &,
    .container>.row {
      height: 50vh;
      min-height: 400px;
    }
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: $white;
    margin-bottom: 1.5rem;
    margin-top: 125px;

    @include media-breakpoint-down(md) {
      margin-top: 100px;
    }
  }

  p {
    color: rgba(255, 255, 255, .5);
    font-size: 1.1rem;
    width: 100%;
  }


  @include media-breakpoint-down(md) {
    margin-top: -10px;
  }
}

.img-absolute {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);

  img {
    max-width: 600px;
    box-shadow: 0 10px 50px -5px rgba(0, 0, 0, .4);

    @include media-breakpoint-down(md) {
      max-width: 100%;
    }
  }
}

.slide-1 {
  background-size: cover;
  background-position: center;

  &:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: $dark;
    opacity: 0.5;
    border-bottom-right-radius: 0px;

    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }


  .slide-text {
    opacity: 0;
    visibility: hidden;
    margin-top: 50px;
    transition: .3s all ease-in-out;

    &.active {
      opacity: 1;
      visibility: visible;
      margin-top: 0px;
    }
  }

  .text-1,
  .text-2,
  .text-3,
  .text-5 {
    color: white;
  }

  .text-1 {
    font-size: 70px;
  }

  .text-2 {
    text-align: left;
    font-size: 20px;
    line-height: 25px;
  }

  .text-4 {
    color: rgba(148, 193, 44, 1);
    font-size: 40px;
    font-weight: 700;
  }

  .text-3 {
    font-size: 25px;
  }

}

.form-box {
  padding: 40px;
  background: $white;
  border-radius: 7px;

  img {
    padding: 10px;
  }
}

.site-section {
  padding: 3em 0;
  position: relative;

  .blog {
    a {
      color: $white;

      &:hover {
        color: $gray-200;
      }
    }

    .card {
      &:hover {
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        -webkit-box-shadow: -2px 11px 39px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: -2px 11px 39px 0px rgba(0, 0, 0, 0.75);
        box-shadow: -2px 11px 39px 0px rgba(0, 0, 0, 0.75);
      }
    }
  }


  .card-img {
    object-fit: cover;
    border-radius: 10px;
  }

  .card {
    border-radius: 100px !important;
    // cursor: pointer;
    transition: 2s;



    @include media-breakpoint-down(md) {
      margin-top: 1.5rem !important;
    }
  }

  .card-img-overlay {
    background-color: rgba(#000, 0.4);
    border-radius: 10px;
  }



  .card-img-overlay-green {
    border-radius: 10px;
    background-color: rgba(148, 193, 44, 0.75);
    position: absolute;
    height: 100%;
    width: 100%;
  }



  .terbalik {
    margin-top: -200px;

    @include media-breakpoint-down(md) {
      margin-top: 0px;
    }
  }



  @include media-breakpoint-down(md) {
    padding: 4em 0;
  }
}


#programs-section {
  img {
    @include media-breakpoint-down(md) {
      height: 200px !important;
    }
  }
}


.cta {
  a {
    span {
      border-color: $primary;
      padding: 14px 20px;
      color: $white;
      background: $primary;
      border-radius: 30px;
      font-size: .7rem;
      font-weight: 900;
      text-transform: uppercase;
      transition: .3s all ease;

      .is-sticky & {
        color: $white;
      }
    }

    &:hover {
      span {
        background: darken($primary, 10%);
        color: $white;
      }
    }

    &.active {
      border-bottom: none;

      >span {
        background-color: $blue;
        color: $white;
      }
    }
  }
}

.section-sub-title {
  color: $primary;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 900;
  display: block;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 3rem;
  color: $black;
  margin-bottom: 1.8rem;
  font-weight: 900;

  @include media-breakpoint-down(md) {
    font-size: 1.5rem;
  }
}

.counter {
  .icon-wrap {
    margin-right: 1.5rem;

    >span {
      position: relative;
      top: -.2em;
      font-size: 2rem;
    }
  }

  .counter-text {
    strong {
      line-height: .5;
      font-size: 3.5rem;
      display: block;
      font-weight: 700;
      color: $black;
      margin-bottom: 1rem;
    }

    span {
      font-size: 1rem;
      line-height: 1;
    }
  }
}

.faq-section {
  padding: 4em 0;
  position: relative;

  h2 {
    @include media-breakpoint-down(md) {
      font-size: 1.3rem !important;
    }
  }

  .card {
    background-color: $white;
    border: none;
    // -webkit-box-shadow: 10px 11px 9px -8px rgba(0, 0, 0, 0.75);
    // -moz-box-shadow: 10px 11px 9px -8px rgba(0, 0, 0, 0.75);
    // box-shadow: 10px 11px 9px -8px rgba(0, 0, 0, 0.75);
  }

  .card-header {
    background-color: $white;
    border-bottom: 2px solid $gray-200 box-shad;

    h5 {
      @include media-breakpoint-down(md) {
        font-size: 15px !important;
      }
    }
  }


}

.image-absolute-box {
  position: relative;

  .box {
    position: absolute;
    background: $primary;
    padding: 30px;
    max-width: 300px;
    top: -20%;
    right: -20%;

    @include media-breakpoint-down(md) {
      top: auto;
      right: auto;
      position: relative;
      width: 100%;
      max-width: 100%;
    }

    .icon-wrap {
      color: $white;
      margin-bottom: 1.5rem;

      span {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.2rem;
      color: $white;
      margin-bottom: 1.5rem;
    }

    p {
      color: rgba($white, .55);
    }
  }
}

.section-1 {
  margin-top: 10rem;
}

.work-thumb {
  position: relative;
  display: block;
  cursor: pointer;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: rgba($primary, .8);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .3s all ease;
  }

  .work-text {
    position: absolute;
    top: 10%;
    left: 10%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;

    transition: .3s all ease;
    margin-top: 20px;

    h3 {
      font-size: 1rem;
      font-weight: 900;
      color: $white;
      margin: 0;
      padding: 0;
    }

    .category {
      font-size: .8rem;
      color: rgba($white, .7);
    }

  }

  &:hover {
    z-index: 3;
    transform: scale(1.07);

    &:after {
      opacity: 1;
      visibility: visible;
    }

    .work-text {
      transition-delay: .2s;
      opacity: 1;
      visibility: visible;
      margin-top: 0px;
    }
  }
}

.nonloop-block-13 {
  .owl-nav {
    display: none;
  }

  .owl-dots {
    margin-top: 30px;
    width: 100%;
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 5px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lighten($black, 90%);
      }

      &.active {
        span {
          background-color: $primary;
        }
      }
    }
  }

  .owl-stage {
    // padding-top: 3rem;
    // padding-bottom: 3rem;
  }

}

.customNextBtn {
  border-radius: 50%;
}

.nonloop-block-14 {
  .owl-nav {
    display: block !important;

    button {
      width: 60px;
      height: 60px;

      &.btn {
        padding: 0px !important;
      }
    }
  }

  .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 20px;
  }

  .owl-nav .owl-prev {
    left: -60px;

    @include media-breakpoint-down(lg) {
      left: -10px;
    }
  }

  .owl-nav .owl-next {
    right: -60px;

    @include media-breakpoint-down(lg) {
      right: -10px;
    }
  }

  .owl-dots {
    margin-top: 30px;
    width: 100%;
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 5px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lighten($black, 90%);
      }

      &.active {
        span {
          background-color: $primary;
        }
      }
    }
  }

}

.nonloop-block-15 {
  .owl-nav {
    display: block !important;

    button {
      width: 60px;
      height: 60px;

      &.btn {
        padding: 0px !important;
      }
    }
  }

  .owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 50%;
    color: #cdcbcd;
  }

  .owl-nav i {
    font-size: 20px;
  }

  .owl-nav .owl-prev {
    left: -60px;

    @include media-breakpoint-down(lg) {
      left: -10px;
    }
  }

  .owl-nav .owl-next {
    right: -60px;

    @include media-breakpoint-down(lg) {
      right: -10px;
    }
  }

  .owl-dots {
    margin-top: 30px;
    width: 100%;
    text-align: center;

    .owl-dot {
      display: inline-block;
      margin: 5px;

      span {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: lighten($black, 90%);
      }

      &.active {
        span {
          background-color: $primary;
        }
      }
    }
  }

}

.footer-section {
  padding: 7em 0;
  background-color: #092A35 !important;

  p {
    font-size: 1rem;
  }

  .footer-bottom {
    ul {
      list-style: none;

      @include media-breakpoint-down(md) {
        text-align: center;
        justify-content: center;
      }
    }

    li {
      display: inline;
      margin: 0px 10px;
    }

  }

  h3 {
    font-size: .9rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    color: $white;
    margin: 1.5rem 0px;
    font-weight: 900;
  }

  .footer-links {
    li {
      margin-bottom: 10px;

      @include media-breakpoint-down(md) {
        display: inline;
      }
    }
  }
}

.footer-subscribe {
  .btn {
    height: 43px;
    line-height: 1;
  }
}

.testimony {
  h3 {
    color: $white;
    font-size: 1.2rem;
  }

  blockquote {
    font-size: 1.2rem;
    font-style: italic;
    color: $white;
  }
}

.process,
.service {
  position: relative;

  .number {
    position: absolute;
    top: 50px;
    left: -30px;
    line-height: 0;
    z-index: -1;
    font-size: 10rem;
    color: lighten($black, 96%);
    font-weight: 900;
  }

  h3 {
    font-size: 1.5rem;
    color: $black;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
}

.service {
  padding: 4rem;
  background: $white;

  @include media-breakpoint-down(md) {
    padding: 2rem;
  }
}

.owl-hero {
  position: relative;

  .owl-nav {

    // position: absolute;
    .owl-prev,
    .owl-next {
      color: $white;
      font-size: 3rem;
      top: 50%;
      position: absolute;
    }

    .owl-prev {
      left: 10;
    }

    .owl-next {
      right: 0;

    }
  }

  .owl-dots {
    position: absolute;
    text-align: center;
    bottom: 50px;
    z-index: 9;
    left: 50%;
    transform: translateX(-50%);

    .owl-dot {
      position: relative;
      display: inline-block;
      margin: 2px;
      position: relative;

      >span {
        // position: absolute;
        width: 7px;
        height: 7px;
        border-radius: 30px;
        display: inline-block;
        background: rgba($white, .4);
        transition: .3s all ease;
      }

      &.active {
        >span {
          width: 25px;
          background: $white;
        }
      }
    }
  }
}


.why-choose-us-box {
  box-shadow: 0 5px 50px -10px rgba($black, .2);
}

.custom-icon-wrap {
  .custom-icon-inner {
    display: inline-block;
    position: relative;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: $primary;

    .icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $white;
      font-size: .8rem;
    }

  }

  h3 {
    font-size: 1.05rem;
    color: $primary;
  }

  &.custom-icon-light {
    .custom-icon-inner {
      background: #615dc2;
      width: 45px;
      height: 45px;
    }

    h3 {
      color: $dark;
      font-size: 1rem;
    }
  }
}

.courses-title {
  padding-bottom: 13rem;
  background: $primary;

  .section-title {
    color: $white;
  }
}

.courses-entry-wrap {
  margin-top: -282px;

  @include media-breakpoint-down(lg) {
    margin-top: -246px;
  }
}

.nonloop-block-14 {
  .owl-stage {
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
}

.course {
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, .3);
  transition: .3s all ease-in-out;
  top: 0;
  position: relative;

  .course-inner-text {
    position: relative;
    padding-top: 35px !important;

  }

  .course-price {
    position: absolute;
    padding: 10px 15px;
    background: $primary;
    color: $white;
    top: -20px;
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .meta {
    font-size: .9rem;
    display: block;
    margin-bottom: .9rem;

    span {
      margin-right: .5rem
    }
  }

  h3 {
    font-size: 1.15rem;
    color: $black;
  }

  .stats {
    font-size: .9rem;
  }

  &:hover {
    top: -10px;
    box-shadow: 0 2px 22px -1px rgba(0, 0, 0, .3);
  }
}

.future-blobs {
  overflow: hidden;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  pointer-events: none;

  @include media-breakpoint-down(md) {}

  // border: 1px solid red;
  .blob_1 {
    top: 0;
    right: -10rem;
    position: absolute;

    @include media-breakpoint-down(md) {
      right: 16rem;
    }
  }

  .blob_2 {
    bottom: 0;
    left: -10rem;
    position: absolute;

    @include media-breakpoint-down(md) {
      left: 16rem;
    }
  }
}

.teacher {
  border: 1px solid $gray-200;
  padding: 30px;
  margin-bottom: 5rem;

  img {
    position: relative;
    margin-top: -100px;
  }

  h3 {
    font-size: 1.2rem;
  }

  .position {
    color: $gray-500;
  }
}

.course-instructor {
  padding: 30px;

  p {
    font-size: 1rem;
  }
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;

  .children {
    padding: 50px 0 0 40px;
    margin: 0;
    float: left;
    width: 100%;
  }

  li {
    padding: 0;
    margin: 0 0 30px 0;
    float: left;
    width: 100%;
    clear: both;
    list-style: none;

    .vcard {
      width: 80px;
      float: left;

      img {
        width: 50px;
        border-radius: 50%;
      }
    }

    .comment-body {
      float: right;
      width: calc(100% - 80px);

      h3 {
        font-size: 20px;
      }

      .meta {
        text-transform: uppercase;
        font-size: 13px;
        letter-spacing: .1em;
        color: #ccc;
      }

      .reply {
        padding: 5px 10px;
        background: lighten($black, 90%);
        color: $black;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
          color: $black;
          background: lighten($black, 89%);
        }
      }
    }
  }
}

/* Video Box */
.site-section .video-box {
  background: url('../images/Asset/aboutimage.png') center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 991.98px) {
  .site-section .video-box {
    min-height: 250px;
  }
}

.site-section .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#94C12C 50%, rgba(148, 193, 44, 1) 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.site-section .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.site-section .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid rgba(148, 193, 44, 1);
  top: -15%;
  left: -15%;
  background: rgbargba(148, 193, 44, 1);
}

.site-section .play-btn:hover::after {
  border-left: 15px solid rgba(148, 193, 44, 1);
  transform: scale(20);
}

.site-section .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    transform: scale(0.6, 0.6);
    opacity: 1;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: $primary;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: rgb(109, 143, 30);
  color: #fff;
}

//  Custom Css

.btn-custom-color {
  background-color: rgba(148, 193, 44, 1) !important;
  color: white !important;

  &:hover {
    background-color: rgb(124, 163, 33) !important;
  }
}

.text-custom-color {
  color: rgba(148, 193, 44, 1) !important;
}

// Modal Login
.modal {

  .input-otp {

    input {
      // margin: 0px -20px;
    }
  }

  i {
    font-size: 40px;
  }

  p {
    font-size: 16px;
  }

  a {
    font-size: 16px;
  }
}



#register {
  .panduan img {
    @include media-breakpoint-down(md) {
      // margin: 50px;
      width: 100%;
      height: auto !important;
    }
  }

  img {
    @include media-breakpoint-down(md) {
      // margin: 50px;
      width: 45px;
      height: auto !important;
    }
  }

  .garis {
    border-left: 1px solid #A3A3A3;
    height: 200px;
    margin-left: 90px;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  h3 {
    font-weight: bold;
    margin-top: 20px;
  }

  i {
    font-size: 40px !important;
  }

  hr {
    width: 100%
  }

  .row {
    margin: 20px 0px;

    @include media-breakpoint-down(md) {
      margin: 10px 0px
    }
  }

  .card {
    border-radius: 10% !important;

    p {
      font-size: 15px;
    }
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;

    .btn-upload {
      border: 2px solid $primary;
      color: white;
      background-color: $primary;
      padding: 50px 50px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        // margin: 50px;
        padding: 30px 30px;
      }

    }

    .btn-upload-1 {
      border: 2px solid $primary;
      color: white;
      background-color: $primary;
      padding: 50px 50px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: bold;

      @include media-breakpoint-down(md) {
        // margin: 50px;
        padding: 30px 20px;
        // border-top: 1px solid #444444;
        margin-top: 10px;
      }

    }

    img {
      display: block;
      margin: 2px auto;
      color: white;
      margin-bottom: 20px;

      @include media-breakpoint-down(md) {
        // margin: 50px;
        max-width: 60px;
        height: auto !important;
      }
    }
  }

  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }
}

#lokasi {
  .address-warehouse {
    .row {
      margin: 3rem 0px;

      .tombol {
        margin-bottom: 20px;
      }
    }

    .title {
      h3 {
        font-weight: bold;
      }
    }
  }


  h4 {
    margin: 20px 10px;
    font-weight: bold;
  }

  .img-title {
    margin: 1rem 10px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .section-alamat {
    img {
      @include media-breakpoint-down(md) {
        // margin: 50px;
        width: 60px;
        height: auto !important;
      }
    }

    .batas-alamat {
      border-right: 1px solid #BBBBBB;

      @include media-breakpoint-down(md) {
        border: none;
      }
    }
  }

  img {
    @include media-breakpoint-down(md) {
      // margin: 50px;
      width: 100%;
      height: auto !important;
    }
  }

}

#popular-post {


  .popular-post {
    .card-bawah {
      p {
        margin-bottom: 0px !important;
      }

    }

    .card-title {
      a {
        color: white;
      }
    }

    p {
      font-size: 12px;
    }
  }

}

#post {
  img {
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }

  .postingan {
    .card {
      border-radius: 5px !important;
      margin: -100px 20px 0px 20px;

      p {
        color: #444444;
      }

      @include media-breakpoint-down(md) {
        margin: -100px 20px 0px 20px !important;
      }
    }

    img {
      @include media-breakpoint-down(md) {
        width: 100%;
      }
    }

    @include media-breakpoint-down(md) {
      width: 100%;
      float: none !important;
    }
  }

  .hot-postingan {
    max-width: 18rem;

    @include media-breakpoint-down(md) {
      float: none !important;
      text-align: center;
      margin: 0px auto;
      max-width: 100%;
    }

    .card {
      border: none;

      @include media-breakpoint-down(md) {
        width: 100% !important;
        height: auto !important;
      }

      img {
        max-height: 300px;
      }
    }

    .tags {
      .card {
        a {
          &.badge {
            padding: 6px;
            background-color: #EBEBEB;
            font-weight: 100;
          }
        }
      }
    }

    .terpopuler {
      .card {
        border: none;

        @include media-breakpoint-down(md) {
          width: 100% !important;
          height: auto !important;
        }
      }
    }
  }

}

#artikel {
  margin-top: 50px;

  @include media-breakpoint-down(md) {
    margin-top: 0px;
  }

  h1 {
    font-size: 90px;

    @include media-breakpoint-down(md) {
      font-size: 45px;
      margin-top: 30px;
    }
  }

  .avatar {
    width: 60px;
    height: 60px;
    background-color: #94C12C;
    border-radius: 50%;
    color: white;
    padding: 10px 14px 14px 14px;
    font-size: 25px;
  }

  .subtitle {
    p {
      padding: 15px;
    }
  }

  .komentar {
    margin-top: 50px;

    img {
      width: 30px;
    }

    textarea {
      width: 100%;
      padding: 10px !important;
    }
  }
}

// Custom Modal
.modal-content {
  border-radius: 1.3rem !important;
}

.modal-header {
  padding: 1rem 1rem;
  border: none;
  // margin: 0px -15px;

  button {
    outline: none;
  }
}

// Invoice
.ringkasan-pembayaran {
  border: 1px solid #D2D2D2;
  padding: 1rem;
}

.sub-total {
  border: 1px solid #D2D2D2;
  padding: 1rem;
}

.total-bayar {
  border: 1px solid #D2D2D2;
  padding: 1rem;
  width: 50%;

  @include media-breakpoint-down(md) {
    width: 100%;
  }

  p {
    color: $primary;
  }
}

.invoice-bawah {
  display: block;

  width: 100%;

  .background {
    img {
      position: absolute;
      top: 32rem;
    }
  }

  .content {
    margin-top: 3rem;
  }

  .content-kanan {
    width: 50%;

    @include media-breakpoint-down(md) {
      float: none;
    }
  }
}

.border-garis {
  border-top: 2px dotted #616060;
  opacity: 0.3;
}

.kendaraan {
  border: 1px solid #D2D2D2;
  padding: 1rem;

  h5 {
    font-weight: bold;
  }

  .subtotal {
    @include media-breakpoint-down(md) {
      justify-content: flex-start !important;
    }
  }
}

.total-kendaraan {
  border: 1px solid #D2D2D2;
  padding: 1rem;
  width: 50%;
  float: right;

  h4 {
    font-weight: bold;
  }

  @include media-breakpoint-down(md) {
    float: none;
    width: 100%;
  }
}

.tanggal {
  margin-top: -60px;


  @include media-breakpoint-down(md) {
    margin-top: 0px;
  }
}

.button-print {
  float: right;

  @include media-breakpoint-down(md) {
    float: none !important;
    width: 100% !important;
  }
}