/* Base */
html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.7;
  color: gray;
  font-weight: 300;
  font-family: 'Mulish', sans-serif;
  font-size: 1.1rem;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  padding: 14px 30px;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-black {
  border-width: 2px;
  border-color: #000;
  background: #000;
  color: #fff;
}

.btn.btn-black:hover {
  color: #000;
  background-color: transparent;
}

.btn.btn-black.btn-outline-black {
  color: #000;
  background-color: transparent;
}

.btn.btn-black.btn-outline-black:hover {
  border-color: #000;
  background: #000;
  color: #fff;
}

.btn.btn-white {
  border-width: 2px;
  border-color: #fff;
  background: #fff;
  color: #000;
}

.btn.btn-white:hover {
  color: #fff;
  background-color: transparent;
}

.btn.btn-white.btn-outline-white {
  color: #fff;
  background-color: transparent;
}

.btn.btn-white.btn-outline-white:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}

.btn.btn-pill {
  border-radius: 30px;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 48px;
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.form-control:active, .form-control:focus {
  border-color: #94c12c;
}

.form-control:hover, .form-control:active, .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.site-section {
  padding: 2.5em 0;
}

@media (min-width: 768px) {
  .site-section {
    padding: 5em 0;
  }
}

.site-section.site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
  background: #333333;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}

.site-footer .border-top {
  border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.site-footer p {
  color: #737373;
}

.site-footer h2,
.site-footer h3,
.site-footer h4,
.site-footer h5 {
  color: #000;
}

.site-footer a {
  color: #999999;
}

.site-footer a:hover {
  color: black;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer .footer-heading {
  font-size: 16px;
  color: #000;
  text-transform: uppercase;
  font-weight: 900;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
          box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}

.hover-bg-enlarge > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
}

.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image-2 {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1,
  .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.play-single-big > span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.play-single-big:hover {
  width: 120px;
  height: 120px;
}

.overlap-to-top {
  margin-top: -150px;
}

.ul-check {
  margin-bottom: 50px;
}

.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -.3rem;
  font-family: "icomoon";
  content: "\e5ca";
  position: absolute;
}

.ul-check.white li:before {
  color: #fff;
}

.ul-check.success li:before {
  color: #8bc34a;
}

.ul-check.primary li:before {
  color: #94c12c;
}

.select-wrap,
.wrap-icon {
  position: relative;
}

.select-wrap .icon,
.wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
}

.select-wrap select,
.wrap-icon select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}

select {
  background-image: linear-gradient(45deg, transparent 50%, #a2c12c 60%), linear-gradient(135deg, #94c12c 40%, transparent 50%) !important;
  background-position: calc(100% - 30px) 17px, calc(100% - 20px) 17px, 100% 0 !important;
  background-size: 8px 8px, 10px 8px !important;
  background-repeat: no-repeat !important;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
}

/* Navbar */
.top-bar {
  height: 95px;
  margin-bottom: -20px;
  padding: 20px;
  background-color: #fff;
  z-index: 1;
  position: relative;
}

@media (max-width: 991.98px) {
  .top-bar {
    display: none;
  }
}

.site-logo {
  position: relative;
  font-weight: 900;
  font-size: 1.3rem;
  display: none;
}

.site-logo a {
  color: #fff;
}

@media (max-width: 991.98px) {
  .site-logo {
    display: inline-block;
  }
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
  height: 75px;
}

.site-navbar .container-fluid {
  padding-left: 3rem;
  padding-right: 13rem;
}

@media (max-width: 1199.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #94c12c;
  display: inline-block;
  padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 5px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #94c12c;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: '\e313';
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-family: 'icomoon';
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #94c12c;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: ' ';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #94c12c !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: '\e315';
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown,
.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #94c12c;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
  color: #000;
}

@media (max-width: 991.98px) {
  .site-navbar {
    height: 85px !important;
  }
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 1000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #94c12c;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .active {
  color: #94c12c;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  font-family: 'icomoon';
  content: '\f078';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class='social'] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class='social'] > li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class='social'] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  background-color: #fff;
}

.sticky-wrapper + .site-blocks-cover {
  margin-top: 96px;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.sticky-wrapper .site-navbar .site-menu > li {
  display: inline-block;
}

.sticky-wrapper .site-navbar .site-menu > li > a {
  color: #000;
}

.sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #000;
  position: relative;
}

.sticky-wrapper .site-navbar .site-menu > li > a.active:after {
  height: 2px;
  background: #94c12c;
  content: '';
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.sticky-wrapper.is-sticky .site-navbar {
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
  height: 80px;
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #000;
}

.sticky-wrapper.is-sticky .site-navbar .site-logo img {
  width: 180px;
  height: 100%;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li {
  display: inline-block;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  padding: 5px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover {
  color: #94c12c;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
  background: #94c12c;
}

.sticky-wrapper .shrink {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* Blocks */
.intro-section {
  position: relative;
  margin-top: -87px;
}

.intro-section,
.intro-section .container > .row {
  height: 120vh;
  min-height: 900px;
}

@media (max-width: 991.98px) {
  .intro-section,
  .intro-section .container > .row {
    height: 200vh;
  }
}

.intro-section.single-cover,
.intro-section.single-cover .container > .row {
  height: 50vh;
  min-height: 400px;
}

.intro-section h1 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.5rem;
  margin-top: 125px;
}

@media (max-width: 991.98px) {
  .intro-section h1 {
    margin-top: 100px;
  }
}

.intro-section p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.1rem;
  width: 100%;
}

@media (max-width: 991.98px) {
  .intro-section {
    margin-top: -10px;
  }
}

.img-absolute {
  position: absolute;
  right: 10%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.img-absolute img {
  max-width: 600px;
  -webkit-box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 50px -5px rgba(0, 0, 0, 0.4);
}

@media (max-width: 991.98px) {
  .img-absolute img {
    max-width: 100%;
  }
}

.slide-1 {
  background-size: cover;
  background-position: center;
}

.slide-1:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: #343a40;
  opacity: 0.5;
  border-bottom-right-radius: 0px;
}

@media (max-width: 991.98px) {
  .slide-1:before {
    width: 100%;
  }
}

.slide-1 .slide-text {
  opacity: 0;
  visibility: hidden;
  margin-top: 50px;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.slide-1 .slide-text.active {
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.slide-1 .text-1,
.slide-1 .text-2,
.slide-1 .text-3,
.slide-1 .text-5 {
  color: white;
}

.slide-1 .text-1 {
  font-size: 70px;
}

.slide-1 .text-2 {
  text-align: left;
  font-size: 20px;
  line-height: 25px;
}

.slide-1 .text-4 {
  color: #94c12c;
  font-size: 40px;
  font-weight: 700;
}

.slide-1 .text-3 {
  font-size: 25px;
}

.form-box {
  padding: 40px;
  background: #fff;
  border-radius: 7px;
}

.form-box img {
  padding: 10px;
}

.site-section {
  padding: 3em 0;
  position: relative;
}

.site-section .blog a {
  color: #fff;
}

.site-section .blog a:hover {
  color: #e9ecef;
}

.site-section .blog .card:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: -2px 11px 39px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 11px 39px 0px rgba(0, 0, 0, 0.75);
}

.site-section .card-img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.site-section .card {
  border-radius: 100px !important;
  -webkit-transition: 2s;
  transition: 2s;
}

@media (max-width: 991.98px) {
  .site-section .card {
    margin-top: 1.5rem !important;
  }
}

.site-section .card-img-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.site-section .card-img-overlay-green {
  border-radius: 10px;
  background-color: rgba(148, 193, 44, 0.75);
  position: absolute;
  height: 100%;
  width: 100%;
}

.site-section .terbalik {
  margin-top: -200px;
}

@media (max-width: 991.98px) {
  .site-section .terbalik {
    margin-top: 0px;
  }
}

@media (max-width: 991.98px) {
  .site-section {
    padding: 4em 0;
  }
}

@media (max-width: 991.98px) {
  #programs-section img {
    height: 200px !important;
  }
}

.cta a span {
  border-color: #94c12c;
  padding: 14px 20px;
  color: #fff;
  background: #94c12c;
  border-radius: 30px;
  font-size: .7rem;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.is-sticky .cta a span {
  color: #fff;
}

.cta a:hover span {
  background: #749723;
  color: #fff;
}

.cta a.active {
  border-bottom: none;
}

.cta a.active > span {
  background-color: #1c4b82;
  color: #fff;
}

.section-sub-title {
  color: #94c12c;
  text-transform: uppercase;
  font-size: .7rem;
  font-weight: 900;
  display: block;
  margin-bottom: 1.5rem;
}

.section-title {
  font-size: 3rem;
  color: #000;
  margin-bottom: 1.8rem;
  font-weight: 900;
}

@media (max-width: 991.98px) {
  .section-title {
    font-size: 1.5rem;
  }
}

.counter .icon-wrap {
  margin-right: 1.5rem;
}

.counter .icon-wrap > span {
  position: relative;
  top: -.2em;
  font-size: 2rem;
}

.counter .counter-text strong {
  line-height: .5;
  font-size: 3.5rem;
  display: block;
  font-weight: 700;
  color: #000;
  margin-bottom: 1rem;
}

.counter .counter-text span {
  font-size: 1rem;
  line-height: 1;
}

.faq-section {
  padding: 4em 0;
  position: relative;
}

@media (max-width: 991.98px) {
  .faq-section h2 {
    font-size: 1.3rem !important;
  }
}

.faq-section .card {
  background-color: #fff;
  border: none;
}

.faq-section .card-header {
  background-color: #fff;
  border-bottom: 2px solid #e9ecef box-shad;
}

@media (max-width: 991.98px) {
  .faq-section .card-header h5 {
    font-size: 15px !important;
  }
}

.image-absolute-box {
  position: relative;
}

.image-absolute-box .box {
  position: absolute;
  background: #94c12c;
  padding: 30px;
  max-width: 300px;
  top: -20%;
  right: -20%;
}

@media (max-width: 991.98px) {
  .image-absolute-box .box {
    top: auto;
    right: auto;
    position: relative;
    width: 100%;
    max-width: 100%;
  }
}

.image-absolute-box .box .icon-wrap {
  color: #fff;
  margin-bottom: 1.5rem;
}

.image-absolute-box .box .icon-wrap span {
  font-size: 2rem;
}

.image-absolute-box .box h3 {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 1.5rem;
}

.image-absolute-box .box p {
  color: rgba(255, 255, 255, 0.55);
}

.section-1 {
  margin-top: 10rem;
}

.work-thumb {
  position: relative;
  display: block;
  cursor: pointer;
}

.work-thumb:after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: rgba(148, 193, 44, 0.8);
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.work-thumb .work-text {
  position: absolute;
  top: 10%;
  left: 10%;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  margin-top: 20px;
}

.work-thumb .work-text h3 {
  font-size: 1rem;
  font-weight: 900;
  color: #fff;
  margin: 0;
  padding: 0;
}

.work-thumb .work-text .category {
  font-size: .8rem;
  color: rgba(255, 255, 255, 0.7);
}

.work-thumb:hover {
  z-index: 3;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

.work-thumb:hover:after {
  opacity: 1;
  visibility: visible;
}

.work-thumb:hover .work-text {
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 1;
  visibility: visible;
  margin-top: 0px;
}

.nonloop-block-13 .owl-nav {
  display: none;
}

.nonloop-block-13 .owl-dots {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.nonloop-block-13 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.nonloop-block-13 .owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.nonloop-block-13 .owl-dots .owl-dot.active span {
  background-color: #94c12c;
}

.customNextBtn {
  border-radius: 50%;
}

.nonloop-block-14 .owl-nav {
  display: block !important;
}

.nonloop-block-14 .owl-nav button {
  width: 60px;
  height: 60px;
}

.nonloop-block-14 .owl-nav button.btn {
  padding: 0px !important;
}

.nonloop-block-14 .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.nonloop-block-14 .owl-nav i {
  font-size: 20px;
}

.nonloop-block-14 .owl-nav .owl-prev {
  left: -60px;
}

@media (max-width: 1199.98px) {
  .nonloop-block-14 .owl-nav .owl-prev {
    left: -10px;
  }
}

.nonloop-block-14 .owl-nav .owl-next {
  right: -60px;
}

@media (max-width: 1199.98px) {
  .nonloop-block-14 .owl-nav .owl-next {
    right: -10px;
  }
}

.nonloop-block-14 .owl-dots {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.nonloop-block-14 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.nonloop-block-14 .owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.nonloop-block-14 .owl-dots .owl-dot.active span {
  background-color: #94c12c;
}

.nonloop-block-15 .owl-nav {
  display: block !important;
}

.nonloop-block-15 .owl-nav button {
  width: 60px;
  height: 60px;
}

.nonloop-block-15 .owl-nav button.btn {
  padding: 0px !important;
}

.nonloop-block-15 .owl-nav > div {
  margin-top: -26px;
  position: absolute;
  top: 50%;
  color: #cdcbcd;
}

.nonloop-block-15 .owl-nav i {
  font-size: 20px;
}

.nonloop-block-15 .owl-nav .owl-prev {
  left: -60px;
}

@media (max-width: 1199.98px) {
  .nonloop-block-15 .owl-nav .owl-prev {
    left: -10px;
  }
}

.nonloop-block-15 .owl-nav .owl-next {
  right: -60px;
}

@media (max-width: 1199.98px) {
  .nonloop-block-15 .owl-nav .owl-next {
    right: -10px;
  }
}

.nonloop-block-15 .owl-dots {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}

.nonloop-block-15 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.nonloop-block-15 .owl-dots .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #e6e6e6;
}

.nonloop-block-15 .owl-dots .owl-dot.active span {
  background-color: #94c12c;
}

.footer-section {
  padding: 7em 0;
  background-color: #092A35 !important;
}

.footer-section p {
  font-size: 1rem;
}

.footer-section .footer-bottom ul {
  list-style: none;
}

@media (max-width: 991.98px) {
  .footer-section .footer-bottom ul {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-section .footer-bottom li {
  display: inline;
  margin: 0px 10px;
}

.footer-section h3 {
  font-size: .9rem;
  letter-spacing: .1rem;
  text-transform: uppercase;
  color: #fff;
  margin: 1.5rem 0px;
  font-weight: 900;
}

.footer-section .footer-links li {
  margin-bottom: 10px;
}

@media (max-width: 991.98px) {
  .footer-section .footer-links li {
    display: inline;
  }
}

.footer-subscribe .btn {
  height: 43px;
  line-height: 1;
}

.testimony h3 {
  color: #fff;
  font-size: 1.2rem;
}

.testimony blockquote {
  font-size: 1.2rem;
  font-style: italic;
  color: #fff;
}

.process,
.service {
  position: relative;
}

.process .number,
.service .number {
  position: absolute;
  top: 50px;
  left: -30px;
  line-height: 0;
  z-index: -1;
  font-size: 10rem;
  color: whitesmoke;
  font-weight: 900;
}

.process h3,
.service h3 {
  font-size: 1.5rem;
  color: #000;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.service {
  padding: 4rem;
  background: #fff;
}

@media (max-width: 991.98px) {
  .service {
    padding: 2rem;
  }
}

.owl-hero {
  position: relative;
}

.owl-hero .owl-nav .owl-prev,
.owl-hero .owl-nav .owl-next {
  color: #fff;
  font-size: 3rem;
  top: 50%;
  position: absolute;
}

.owl-hero .owl-nav .owl-prev {
  left: 10;
}

.owl-hero .owl-nav .owl-next {
  right: 0;
}

.owl-hero .owl-dots {
  position: absolute;
  text-align: center;
  bottom: 50px;
  z-index: 9;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.owl-hero .owl-dots .owl-dot {
  position: relative;
  display: inline-block;
  margin: 2px;
  position: relative;
}

.owl-hero .owl-dots .owl-dot > span {
  width: 7px;
  height: 7px;
  border-radius: 30px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.owl-hero .owl-dots .owl-dot.active > span {
  width: 25px;
  background: #fff;
}

.why-choose-us-box {
  -webkit-box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.2);
}

.custom-icon-wrap .custom-icon-inner {
  display: inline-block;
  position: relative;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #94c12c;
}

.custom-icon-wrap .custom-icon-inner .icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: .8rem;
}

.custom-icon-wrap h3 {
  font-size: 1.05rem;
  color: #94c12c;
}

.custom-icon-wrap.custom-icon-light .custom-icon-inner {
  background: #615dc2;
  width: 45px;
  height: 45px;
}

.custom-icon-wrap.custom-icon-light h3 {
  color: #343a40;
  font-size: 1rem;
}

.courses-title {
  padding-bottom: 13rem;
  background: #94c12c;
}

.courses-title .section-title {
  color: #fff;
}

.courses-entry-wrap {
  margin-top: -282px;
}

@media (max-width: 1199.98px) {
  .courses-entry-wrap {
    margin-top: -246px;
  }
}

.nonloop-block-14 .owl-stage {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.course {
  -webkit-box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.3);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  top: 0;
  position: relative;
}

.course .course-inner-text {
  position: relative;
  padding-top: 35px !important;
}

.course .course-price {
  position: absolute;
  padding: 10px 15px;
  background: #94c12c;
  color: #fff;
  top: -20px;
  right: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.course .meta {
  font-size: .9rem;
  display: block;
  margin-bottom: .9rem;
}

.course .meta span {
  margin-right: .5rem;
}

.course h3 {
  font-size: 1.15rem;
  color: #000;
}

.course .stats {
  font-size: .9rem;
}

.course:hover {
  top: -10px;
  -webkit-box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 22px -1px rgba(0, 0, 0, 0.3);
}

.future-blobs {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0;
  pointer-events: none;
}

.future-blobs .blob_1 {
  top: 0;
  right: -10rem;
  position: absolute;
}

@media (max-width: 991.98px) {
  .future-blobs .blob_1 {
    right: 16rem;
  }
}

.future-blobs .blob_2 {
  bottom: 0;
  left: -10rem;
  position: absolute;
}

@media (max-width: 991.98px) {
  .future-blobs .blob_2 {
    left: 16rem;
  }
}

.teacher {
  border: 1px solid #e9ecef;
  padding: 30px;
  margin-bottom: 5rem;
}

.teacher img {
  position: relative;
  margin-top: -100px;
}

.teacher h3 {
  font-size: 1.2rem;
}

.teacher .position {
  color: #adb5bd;
}

.course-instructor {
  padding: 30px;
}

.course-instructor p {
  font-size: 1rem;
}

.comment-form-wrap {
  clear: both;
}

.comment-list {
  padding: 0;
  margin: 0;
}

.comment-list .children {
  padding: 50px 0 0 40px;
  margin: 0;
  float: left;
  width: 100%;
}

.comment-list li {
  padding: 0;
  margin: 0 0 30px 0;
  float: left;
  width: 100%;
  clear: both;
  list-style: none;
}

.comment-list li .vcard {
  width: 80px;
  float: left;
}

.comment-list li .vcard img {
  width: 50px;
  border-radius: 50%;
}

.comment-list li .comment-body {
  float: right;
  width: calc(100% - 80px);
}

.comment-list li .comment-body h3 {
  font-size: 20px;
}

.comment-list li .comment-body .meta {
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: .1em;
  color: #ccc;
}

.comment-list li .comment-body .reply {
  padding: 5px 10px;
  background: #e6e6e6;
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
}

.comment-list li .comment-body .reply:hover {
  color: #000;
  background: #e3e3e3;
}

/* Video Box */
.site-section .video-box {
  background: url("../images/Asset/aboutimage.png") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 991.98px) {
  .site-section .video-box {
    min-height: 250px;
  }
}

.site-section .play-btn {
  width: 94px;
  height: 94px;
  background: radial-gradient(#94C12C 50%, #94c12c 52%);
  border-radius: 50%;
  display: block;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 47px);
  overflow: hidden;
}

.site-section .play-btn::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
          transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 100;
  -webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.site-section .play-btn::before {
  content: '';
  position: absolute;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation: pulsate-btn 2s;
  animation: pulsate-btn 2s;
  -webkit-animation-direction: forwards;
  animation-direction: forwards;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: steps;
  animation-timing-function: steps;
  opacity: 1;
  border-radius: 50%;
  border: 5px solid #94c12c;
  top: -15%;
  left: -15%;
  background: rgbargba(148, 193, 44, 1);
}

.site-section .play-btn:hover::after {
  border-left: 15px solid #94c12c;
  -webkit-transform: scale(20);
          transform: scale(20);
}

.site-section .play-btn:hover::before {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-40%) translateY(-50%);
          transform: translateX(-40%) translateY(-50%);
  width: 0;
  height: 0;
  border: none;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #fff;
  z-index: 200;
  -webkit-animation: none;
  animation: none;
  border-radius: 0;
}

@-webkit-keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

@keyframes pulsate-btn {
  0% {
    -webkit-transform: scale(0.6, 0.6);
            transform: scale(0.6, 0.6);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #94c12c;
  color: #fff;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #6d8f1e;
  color: #fff;
}

.btn-custom-color {
  background-color: #94c12c !important;
  color: white !important;
}

.btn-custom-color:hover {
  background-color: #7ca321 !important;
}

.text-custom-color {
  color: #94c12c !important;
}

.modal i {
  font-size: 40px;
}

.modal p {
  font-size: 16px;
}

.modal a {
  font-size: 16px;
}

@media (max-width: 991.98px) {
  #register .panduan img {
    width: 100%;
    height: auto !important;
  }
}

@media (max-width: 991.98px) {
  #register img {
    width: 45px;
    height: auto !important;
  }
}

#register .garis {
  border-left: 1px solid #A3A3A3;
  height: 200px;
  margin-left: 90px;
}

@media (max-width: 991.98px) {
  #register .garis {
    display: none;
  }
}

#register h3 {
  font-weight: bold;
  margin-top: 20px;
}

#register i {
  font-size: 40px !important;
}

#register hr {
  width: 100%;
}

#register .row {
  margin: 20px 0px;
}

@media (max-width: 991.98px) {
  #register .row {
    margin: 10px 0px;
  }
}

#register .card {
  border-radius: 10% !important;
}

#register .card p {
  font-size: 15px;
}

#register .upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

#register .upload-btn-wrapper .btn-upload {
  border: 2px solid #94c12c;
  color: white;
  background-color: #94c12c;
  padding: 50px 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  #register .upload-btn-wrapper .btn-upload {
    padding: 30px 30px;
  }
}

#register .upload-btn-wrapper .btn-upload-1 {
  border: 2px solid #94c12c;
  color: white;
  background-color: #94c12c;
  padding: 50px 50px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
}

@media (max-width: 991.98px) {
  #register .upload-btn-wrapper .btn-upload-1 {
    padding: 30px 20px;
    margin-top: 10px;
  }
}

#register .upload-btn-wrapper img {
  display: block;
  margin: 2px auto;
  color: white;
  margin-bottom: 20px;
}

@media (max-width: 991.98px) {
  #register .upload-btn-wrapper img {
    max-width: 60px;
    height: auto !important;
  }
}

#register .upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

#lokasi .address-warehouse .row {
  margin: 3rem 0px;
}

#lokasi .address-warehouse .row .tombol {
  margin-bottom: 20px;
}

#lokasi .address-warehouse .title h3 {
  font-weight: bold;
}

#lokasi h4 {
  margin: 20px 10px;
  font-weight: bold;
}

#lokasi .img-title {
  margin: 1rem 10px;
}

#lokasi .img-title img {
  width: 100%;
  height: 100%;
}

@media (max-width: 991.98px) {
  #lokasi .section-alamat img {
    width: 60px;
    height: auto !important;
  }
}

#lokasi .section-alamat .batas-alamat {
  border-right: 1px solid #BBBBBB;
}

@media (max-width: 991.98px) {
  #lokasi .section-alamat .batas-alamat {
    border: none;
  }
}

@media (max-width: 991.98px) {
  #lokasi img {
    width: 100%;
    height: auto !important;
  }
}

#popular-post .popular-post .card-bawah p {
  margin-bottom: 0px !important;
}

#popular-post .popular-post .card-title a {
  color: white;
}

#popular-post .popular-post p {
  font-size: 12px;
}

@media (max-width: 991.98px) {
  #post img {
    width: 100%;
  }
}

#post .postingan .card {
  border-radius: 5px !important;
  margin: -100px 20px 0px 20px;
}

#post .postingan .card p {
  color: #444444;
}

@media (max-width: 991.98px) {
  #post .postingan .card {
    margin: -100px 20px 0px 20px !important;
  }
}

@media (max-width: 991.98px) {
  #post .postingan img {
    width: 100%;
  }
}

@media (max-width: 991.98px) {
  #post .postingan {
    width: 100%;
    float: none !important;
  }
}

#post .hot-postingan {
  max-width: 18rem;
}

@media (max-width: 991.98px) {
  #post .hot-postingan {
    float: none !important;
    text-align: center;
    margin: 0px auto;
    max-width: 100%;
  }
}

#post .hot-postingan .card {
  border: none;
}

@media (max-width: 991.98px) {
  #post .hot-postingan .card {
    width: 100% !important;
    height: auto !important;
  }
}

#post .hot-postingan .card img {
  max-height: 300px;
}

#post .hot-postingan .tags .card a.badge {
  padding: 6px;
  background-color: #EBEBEB;
  font-weight: 100;
}

#post .hot-postingan .terpopuler .card {
  border: none;
}

@media (max-width: 991.98px) {
  #post .hot-postingan .terpopuler .card {
    width: 100% !important;
    height: auto !important;
  }
}

#artikel {
  margin-top: 50px;
}

@media (max-width: 991.98px) {
  #artikel {
    margin-top: 0px;
  }
}

#artikel h1 {
  font-size: 90px;
}

@media (max-width: 991.98px) {
  #artikel h1 {
    font-size: 45px;
    margin-top: 30px;
  }
}

#artikel .avatar {
  width: 60px;
  height: 60px;
  background-color: #94C12C;
  border-radius: 50%;
  color: white;
  padding: 10px 14px 14px 14px;
  font-size: 25px;
}

#artikel .subtitle p {
  padding: 15px;
}

#artikel .komentar {
  margin-top: 50px;
}

#artikel .komentar img {
  width: 30px;
}

#artikel .komentar textarea {
  width: 100%;
  padding: 10px !important;
}

.modal-content {
  border-radius: 1.3rem !important;
}

.modal-header {
  padding: 1rem 1rem;
  border: none;
}

.modal-header button {
  outline: none;
}

.ringkasan-pembayaran {
  border: 1px solid #D2D2D2;
  padding: 1rem;
}

.sub-total {
  border: 1px solid #D2D2D2;
  padding: 1rem;
}

.total-bayar {
  border: 1px solid #D2D2D2;
  padding: 1rem;
  width: 50%;
}

@media (max-width: 991.98px) {
  .total-bayar {
    width: 100%;
  }
}

.total-bayar p {
  color: #94c12c;
}

.invoice-bawah {
  display: block;
  width: 100%;
}

.invoice-bawah .background img {
  position: absolute;
  top: 32rem;
}

.invoice-bawah .content {
  margin-top: 3rem;
}

.invoice-bawah .content-kanan {
  width: 50%;
}

@media (max-width: 991.98px) {
  .invoice-bawah .content-kanan {
    float: none;
  }
}

.border-garis {
  border-top: 2px dotted #616060;
  opacity: 0.3;
}

.kendaraan {
  border: 1px solid #D2D2D2;
  padding: 1rem;
}

.kendaraan h5 {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .kendaraan .subtotal {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

.total-kendaraan {
  border: 1px solid #D2D2D2;
  padding: 1rem;
  width: 50%;
  float: right;
}

.total-kendaraan h4 {
  font-weight: bold;
}

@media (max-width: 991.98px) {
  .total-kendaraan {
    float: none;
    width: 100%;
  }
}

.tanggal {
  margin-top: -60px;
}

@media (max-width: 991.98px) {
  .tanggal {
    margin-top: 0px;
  }
}

.button-print {
  float: right;
}

@media (max-width: 991.98px) {
  .button-print {
    float: none !important;
    width: 100% !important;
  }
}
/*# sourceMappingURL=style.css.map */